@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
body{
    background-color: rgb(219, 216, 216);
}
header{
background-color: rgb(2, 2, 2);
color: aliceblue;
text-align: center;
}
header>h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 2em;
}
header>p{
    padding-bottom: 50px;
}
a{
    color: aliceblue;

}
section{
    line-height: 2em;
}
section.normal{
    background-color: rgb(250, 247, 247);
    padding: 10px;
}
section.normal>p{
    width: 300px;
    padding: 10px;
    border-radius: 20px 30px 0px;
}
section.imagem{
    padding: 10px;
    background-image: url(images.jpg);
    background-position:center center ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
section.imagem>p{
    background-color: rgba(31, 32, 32, 0.411);
    width: 300px;
    padding:10px ;
    border-radius: 20px;
    color: aliceblue;
}

footer>p{
    background-color: black;
    color: aliceblue;
    padding: 10px;
    text-align: center;
}
